.PaginaInicial{
    
    background-color: aquamarine;
   

  
    
}

.PaginaInicial-Login{
   box-align: center;
   align-items: center;
   align-content: center;
    width: 125px;
    padding: 117px 120px 120px 130px;
    font-size: 16px;
    border-top: 5px solid #010b0e;
    -webkit-border-radius: 0 0  5px 5px;
    border-radius:   0 0  5px 5px;
    border: 5px solid black;
    background-image: url('./logo.png');
    background-size:100%;
    background-position: center;
 
    
}
.PaginaInicial-show{
  
    
    
    border-radius: 0 0  5px 5px;
    border: 2px solid gray;

}

.PaginaInicial-Logout{
    margin-bottom: 10px;
}

.PaginaInicial-show h2{
    padding-top: 15px;
}

.SearchBox{
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin: 5px 0 5px 0;
 
}

.BoxForSearch{
    position: absolute;
    top : 4%;
    left : 42%;
}