.Popup{

    -webkit-animation: flip-scale-2-hor-top 0.5s linear both;
    animation: flip-scale-2-hor-top 0.5s linear both;
}
 


  .comment{

   background-color: whitesmoke;
   width: 20%;
   height: 80%;
   border: 1px solid black;
   
  }
  
  
  